*{
    box-sizing: border-box;
}
.d-block{
	display:  block;
}
body{
    background-color: rgb(255, 255, 255);
    color: rgb(24, 24, 24)
}
/*header work*/
header{
    height: auto;
}
#nav-bar{
    height: 8%;
    background-color:#ffffff;
    color: red;
    padding-bottom: 20px;  
}
.bg{
    background-image: url('../images/hbg2.png');
    background-repeat: no-repeat;
    background-attachment:local;
    background-size: 100% 100%;
}
.flexbox{
    margin-top: 8em;
    margin-bottom: 8em;
}
.flexbox1{
    margin-top: 6em;
    margin-bottom: 8em;
}
#flexbox{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.5em;
}
#bg-1{
    position: relative;
    height: 39rem;
    padding:0px;
    
}
#bg-2{
    position: relative;
    top: -720px;
    left: 50%;
    transform: translate(-50%, -50%);
}
.g1{
    background-image: url(../images/testimonial-bg.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.bor1{
    background-image: url(../images/tooltip-bg.png);
    background-repeat: no-repeat;
    background-position: fixed;
    background-size: 100% 100%;
    padding: 2.5em;
}
.bor1 p{
    font-size: 2em;
    color: greenyellow;
}
.bor1:hover{
    background-image: url(../images/tooltip-hover.png);
    background-repeat: no-repeat;
    background-position: fixed;
    background-size: 100% 100%;
    padding: 2.5em;
}
#S1{
    border: 0px;
}
#S{
    border: 1px solid black;
}
#ss i{
    position: relative;
    margin-right: 4px;
}
footer{
    background-color:#303030;
    color: rgb(201, 201, 201);
}
@media only screen and (min-width: 360px) and (max-width:375px){
    #ss i {
      position: relative;
      left: 270px;
      top: -33px;
      
    }
    #button{
        position: relative;
        left: 240px;
    }
  }
@media only screen and (min-width:992px){
    #navbar{
        position: relative;
        top: 9px;
        right: -80px;
    }
}
@media only screen and (min-width:992px){
    #call{
       font-family:cursive;
       padding-top: 20px;
       padding-bottom: 0px;
       padding-left: 100px;
    }
}
@media only screen and (min-width:420px) and (max-width:991px){
    #button{
        position: relative;
        left: 12em;
    }
}

